Analysis of Used Cars

The focus of this project is to gain experience with basic Software Development Tools

We will be cleaning and preprocessing the attached dataset (vehicles_us.csv) and using that cleaned dataset to create a web app.

In [64]:
#importing necessary libraries
import pandas as pd
import plotly.express as px
import streamlit as st

In [65]:
#pulling the .csv into a dataframe
vehicles = pd.read_csv("C:\\Users\\13303\\Documents\\Projects\\Sprint_4\\vehicles_us.csv")

In [66]:
vehicles.head()

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
0,9400,2011.0,bmw x5,good,6.0,gas,145000.0,automatic,SUV,NaN,1.0,2018-06-23,19
1,25500,NaN,ford f-150,good,6.0,gas,88705.0,automatic,pickup,white,1.0,2018-10-19,50
2,5500,2013.0,hyundai sonata,like new,4.0,gas,110000.0,automatic,sedan,red,NaN,2019-02-07,79
3,1500,2003.0,ford f-150,fair,8.0,gas,NaN,automatic,pickup,NaN,NaN,2019-03-22,9
4,14900,2017.0,chrysler 200,excellent,4.0,gas,80903.0,automatic,sedan,black,NaN,2019-04-02,28

In [67]:
#checking the counts and types for each field in the dataframe
vehicles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         51525 non-null  int64
 1   model_year    47906 non-null  float64
 2   model         51525 non-null  object
 3   condition     51525 non-null  object
 4   cylinders     46265 non-null  float64
 5   fuel          51525 non-null  object
 6   odometer      43633 non-null  float64
 7   transmission  51525 non-null  object
 8   type          51525 non-null  object
 9   paint_color   42258 non-null  object
 10  is_4wd        25572 non-null  float64
 11  date_posted   51525 non-null  object
 12  days_listed   51525 non-null  int64
dtypes: float64(4), int64(2), object(7)
memory usage: 5.1+ MB

In [68]:
#checking the dataframe for null values
vehicles.isna().sum()

price               0
model_year       3619
model               0
condition           0
cylinders        5260
fuel                0
odometer         7892
transmission        0
type                0
paint_color      9267
is_4wd          25953
date_posted         0
days_listed         0
dtype: int64

In [69]:
#filling in NULLs in model_year with median based on car model 
vehicles['model_year'] = vehicles['model_year'].fillna(vehicles.groupby(['model'])['model_year'].transform('median'))

In [70]:
#filing in NULLs in odometer based on model and model_year
vehicles['odometer'] = vehicles['odometer'].fillna(vehicles.groupby(['model','model_year'])['odometer'].transform('median'))

In [71]:
#filling in NULLs in cylinders based on car model 
vehicles['cylinders'] = vehicles['cylinders'].fillna(vehicles.groupby(['model'])['cylinders'].transform('median'))

In [72]:
#replacing nulls in the paint_color field with the value "unknown"
vehicles['paint_color'] = vehicles['paint_color'].fillna('Unknown')

In [73]:
#replacing nulls in the is_4wd field with a 0 for no
vehicles['is_4wd'] = vehicles['is_4wd'].fillna(0)

In [74]:
#checking for nulls after making replacements above
vehicles.isna().sum()

price            0
model_year       0
model            0
condition        0
cylinders        0
fuel             0
odometer        83
transmission     0
type             0
paint_color      0
is_4wd           0
date_posted      0
days_listed      0
dtype: int64

In [75]:
#getting the year part of the date_posted field
vehicles['posted_year'] = pd.DatetimeIndex(vehicles['date_posted']).year

In [76]:
#calculating the car's age at time of posting by subtracting the model year value by the posted year value
vehicles['car_age'] = vehicles['posted_year'] - vehicles['model_year']

In [77]:
#breaking the model column into two parts, make and model for further analysis of the make field and returning the top 5 rows
vehicles[['make', 'model']] = vehicles['model'].str.split(" ", n = 1, expand = True)
vehicles.head()

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed,posted_year,car_age,make
0,9400,2011.0,x5,good,6.0,gas,145000.0,automatic,SUV,Unknown,1.0,2018-06-23,19,2018,7.0,bmw
1,25500,2011.0,f-150,good,6.0,gas,88705.0,automatic,pickup,white,1.0,2018-10-19,50,2018,7.0,ford
2,5500,2013.0,sonata,like new,4.0,gas,110000.0,automatic,sedan,red,0.0,2019-02-07,79,2019,6.0,hyundai
3,1500,2003.0,f-150,fair,8.0,gas,177500.0,automatic,pickup,Unknown,0.0,2019-03-22,9,2019,16.0,ford
4,14900,2017.0,200,excellent,4.0,gas,80903.0,automatic,sedan,black,0.0,2019-04-02,28,2019,2.0,chrysler

In [78]:
#create header
st.header('Used Cars Analysis')
st.write("""
##### The data below shows information on used cars posted from 2018-2019
""")
#use a checkbox to show only domestic makes or all makes
only_domestic = st.checkbox('Show Only Domestic Makes')
domestic = ['ford', 'chrysler', 'chevrolet', 'ram', 'gmc', 'jeep', 'dodge', 'cadillac', 'buick']
if only_domestic:
    vehicles = vehicles[vehicles['make'].isin(domestic)]
#inserting the dataframe
st.dataframe(vehicles)

DeltaGenerator()

In [79]:
st.header('Car Price by Age')
#building a scatter plot that shows price of the cars by their age
age_scatter = px.scatter(vehicles, x='car_age', y='price')
st.write(age_scatter)

In [84]:
st.header('Count of Cars by Price')
#building a histogram that shows the count of cars by make
price_ct = px.histogram(vehicles, x='price')
st.write(price_ct)

Conclusion

After cleaning and preprocessing the dataset, we have the code ready to create a web app.